Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: none

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'